# exclude all
/*

# Include Important Folders
!src/

# Other Files.
!LICENSE.txt
!LICENSE-header.txt
!README.md

# Gradle stuff
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!settings.gradle

# Include git important files
!.gitmodules
!.gitignore
!.github
